
@{
    ViewBag.Title = "AdminHome";
}
<table>
    <tr>
        <td>
            @ViewBag.Name
        </td>
        <td>
            <a href="~/ManageUser">
               ManageUSer
            </a>
        </td>
    </tr>
</table>

